@font-face {
    font-family: 'CS ChatThai'; /*a name to be used later*/
    src: url('/tmp/mnt/resources/aio/mzd-casdk/apps/app.speedthai/CSChatThai.ttf'); /*URL to font*/
}

@font-face {                                                                                               
 font-family: 'SOV_Assadong_C'; /*a name to be used later*/                                               
  src: url('/jci/fonts/CHN/SOV_Assadong_C.ttf'); /*URL to font*/                                           
}

.classname {
    font-family: 'CS ChatThai';
}
        
[app="app.speedthai"] {
	background:url("background.jpg");
}
	
	[app="app.speedthai"] div {
		background:rgba(255, 0, 0, 0.1);
		position:absolute;
		top:45px;
		left:50px;
		bottom:50px;
		right:50px;
		text-align:center;
		line-height:300px;
		font-size:400px;
		font-family: "SOV_Assadong_C", Times, serif;
		border:5px solid rgba(255, 0, 0, 0.25);
		border-radius: 25px;
		color:rgba(255, 255, 255, 0.9);
	}

	[app="app.speedthai"] span {
		position:absolute;
		bottom:60px;
		left:0;
		right:0;
		font-size:50px;
		font-family: "CS ChatThai", Times, serif;
		color:rgba(255, 255, 255, 0.9);
		text-align:center;
		display:block;
		text-transform: uppercase;
	}
